/* static/css/styles.css */

body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.card {
    margin-top: 50px;
    border-radius: 10px;
}

.card-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    background-color: #ffffff;
    padding: 30px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.modal-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-footer {
    justify-content: center;
}
